@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
p{
  margin-bottom: 0 ;
}
.home__main__left{
  background-color: #f1f3f4;
}
.home__content_container{
  width: 100%;
  padding: 60px 0;
}
.home__content__heading{
  font-weight: 600;
}
.home__content__heading__sub{
  font-size: 24px;
}
.card{
  border-radius: 15px !important;
  border: none !important;
}
.card-img{
  border-radius: 10px;
  width: 100%;
  height: 180px;
}
.card-title{
  margin-top: 25px;
  font-weight: 600;
  text-transform: capitalize;
}
.age,
.time__require{
  margin-bottom: 10px;
  font-weight: 500;
}
.card__button{
  width: 100%;
  background-color: #0096FF;
  border: none;
  outline: none;
  padding: 10px 0;
  border-radius: 5px;
  color: #fff;
  transition: 0.2s ease-in;
}
.card__button:hover{
  background-color: #14C38E;
}
.card__button__active{
  background-color: #14C38E;
}
.pro__pic{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}
.profile__content__detail
.profile__name{
  font-size: 26px;
  margin-left: 10px;
  margin-bottom: 0;
  font-weight: 600;
}
.profile__detail{
  margin-left: 10px;
  color: #444444;
  align-items: center;
}
.address{
  margin-left: 10px;
}
.body__detail{
  margin: 60px 0;
  padding: 10px;
  justify-content: center;
  background-color: #F9F9F9;
  border-radius: 20px;
}
.body__detail__content{
  margin: 0 20px;
}
.body__detail__content .title{
  font-size: 26px;
  font-weight: 500;
}
.exercise{
  margin: 50px 0 0 0;
}
.exercise__heading,
.break__heading
{
  font-size: 20px;
  font-weight: 600;
}
.exercise__time,
.break__time__content,
.break__content
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 25px;
  margin: 20px 0;
}
.break__content__btn{
  background-color: #fff;
  color: #000;
  border: none;
  padding: 13px 12px;
  border-radius: 50%;
}
.break__content__btn:hover{
  background-color: #0AA1DD;
  color: #fff;
  border: none;
}
.active{
  background-color: #0AA1DD;
  color: #fff;
  border: none;
}
.exercise__time__heading,
.break__time__content__heading
{
  font-size: 20px;
  font-weight: 600;
}
.exercise__time__counter,
.break__time__content__counter
{
  font-size: 18px;
  color: #444444;
}
.acitivity__button{
  margin-top: 80px;
}
.activity__button__main{
  width: 100%;
  text-align: center;
  border: none;
  padding: 20px 0;
  border-radius: 5px;
  background-color: #0AA1DD;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}
.activity__button__main:hover{
  background-color: #398AB9;
}