@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
p{
  margin-bottom: 0 ;
}
.home__main__left{
  background-color: #f1f3f4;
}
.home__content_container{
  width: 100%;
  padding: 60px 0;
}
.home__content__heading{
  font-weight: 600;
}
.home__content__heading__sub{
  font-size: 24px;
}
.card{
  border-radius: 15px !important;
  border: none !important;
}
.card-img{
  border-radius: 10px;
  width: 100%;
  height: 180px;
}
.card-title{
  margin-top: 25px;
  font-weight: 600;
  text-transform: capitalize;
}
.card__button{
  width: 100%;
  background-color: #0096FF;
  border: none;
  outline: none;
  padding: 10px 0;
  border-radius: 5px;
  color: #fff;
}
.pro__pic{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}
.profile__content__detail
.profile__name{
  font-size: 26px;
  margin-left: 10px;
  margin-bottom: 0;
  font-weight: 600;
}
.profile__detail{
  margin-left: 10px;
  color: #444444;
  align-items: center;
}
.address{
  margin-left: 10px;
}
.body__detail{
  margin: 60px 0;
  padding: 10px;
  justify-content: center;
  background-color: #F9F9F9;
  border-radius: 20px;
}
.body__detail__content{
  margin: 0 20px;
}
.body__detail__content .title{
  font-size: 26px;
  font-weight: 500;
}